<div id="page-wrapper">
<!-- Header -->
<header id="header">
  <h1><a href="index.html">Unipipe</a></h1>
  <nav id="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li>
        <a href="#" class="icon fa fa-angle-down">ChatRooms</a>
        <ul>
          <li><%= link_to "Engineering", Chatroom.first %></li>
          <li><%= link_to "Medicine", Chatroom.second %></li>
          <li><%= link_to "Accounting", Chatroom.third %></li>
          <li><%= link_to "Computing & IT", Chatroom.fourth %></li>
        </ul>
      </li>
      <li>
        <%= link_to "Contact Us", welcome_contact_path, :class => 'icon' %>
      </li>
      <li><%= link_to "Sign Up", login_path, :class => 'button' %></li>
    </ul>
  </nav>
</header>
<div id="page-wrapper">
<!-- Banner -->
<section id="banner">
  <h2>Unipipe</h2>
  <p>This is an online university pocket platform.</p>
  <p>Here You can discuss any academic related field you are Interested in.</p>
  <ul class="actions">
    <li><a href="#" class="button special">Sign Up</a></li>
    <li><a href="#" class="button">Learn More</a></li>
  </ul>
</section>
<!-- Main -->
<section id="main" class="container">
  <header>
  <h2><b>ChatRoom Platform</b></h2>
    <h2>Welcome to Unipipe ChatRoom platform</h2>
    <p>Select the field to discuss.</p>
    <h2>Select, Explore & Discuss</h2>
  </header>

    <section class="box special features">
    <div class="features-row">
      <section id="mdical">
        <span class="icon major fa-bolt accent2"></span>
        <h3><%= link_to "Medical Field", Chatroom.first %></h3>
        <p>Medicine is the science and practice of the diagnosis, treatment, and prevention of disease. Medicine encompasses a variety of health care practices evolved.</p>
      </section>
      <section id="engineering">
        <span class="icon major fa-area-chart accent3"></span>
        <h3><%= link_to "Engineering Field", Chatroom.second %></h3>
        <p>Engineering is the application of mathematics, as well as scientific, economic, social, and practical knowledge to invent, innovate.</p>
      </section>
    </div>
    <div class="features-row">
      <section id="computing">
        <span class="icon major fa-cloud accent4"></span>
        <h3><%= link_to "Computing & IT", Chatroom.third %></h3>
        <p>Computer science is the study of the theory, experimentation, and engineering that form the basis for the design and use of computers..</p>
      </section>
      <section  id="accounting">
        <span class="icon major fa-lock accent5"></span>
        <h3><%= link_to "Accounting", Chatroom.fourth %></h3> 
        <p>Accounting or accountancy is the measurement, processing, and communication of financial information about economic entities such as businesses and corporations.</p>
      </section>
    </div>
  </section>
  </section>
</div>
</div>