<!-- Main -->
<!-- Banner -->
<section id="banner">
  <h2>Unipipe</h2>
  <p>This is an online university pocket platform.</p>
  <p>Here You can discuss any academic related field you are Interested in.</p>
  <ul class="actions">
 	<% if current_user %>
 	<li><%= link_to "Chatrooms", chatrooms_path, :class => "button" %></li>
 	<% else %>
    <li><%= link_to "Sign Up", signup_path, :class => "button special" %></li>
    <li><%= link_to "Learn More", chatrooms_path, :class => "button" %></li>
    <% end %>
  </ul>
</section>

<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>Introducing the online university discussion platform
			<br />
			for you</h2>
			<p>This platform will enable you to achieve and share your knowledge in anyfield<br />
			& most importantly is that the platform is free to use.</p>
		</header>
		<span class="image featured"><%= image_tag("pic01.jpg") %></span>
	</section>

	<section class="box special features">
		<div class="features-row">
			<section id="mdical">
				<span class="icon major fa-bolt accent2"></span>
				<% if current_user %>
				<h3><%= link_to "Medical Field", Chatroom.first %></h3>
				<% else %>
				<h3><%= link_to "Medical Field", signup_path %></h3>
				<% end %>
				<p>Medicine is the science and practice of the diagnosis, treatment, and prevention of disease. Medicine encompasses a variety of health care practices evolved.
				<br>
				<br>
					<li><%= link_to "Learn more", chatrooms_path, :class => 'button alt' %></li>
				</p>
			</section>
			<section id="engineering">
				<span class="icon major fa-area-chart accent3"></span>
				<% if current_user %>
				<h3><%= link_to "Engineering Field", Chatroom.second %></h3>
				<% else %>
				<h3><%= link_to "Engineering Field", signup_path %></h3>
				<% end %>
				<p>Engineering is the application of mathematics, as well as scientific, economic, social, and practical knowledge to invent, innovate.
				<br>
				<br>
					<li><%= link_to "Learn more", chatrooms_path, :class => 'button alt' %></li>
				</p>
			</section>
		</div>
		<div class="features-row">
			<section id="computing">
				<span class="icon major fa-cloud accent4"></span>
				<% if current_user %>
				<h3><%= link_to "Accounting", Chatroom.third %></h3>
				<% else %>
				<h3><%= link_to "Accounting", signup_path %></h3>
				<% end %>
				<p>Accounting or accountancy is the measurement, processing, and communication of financial information about economic entities such as businesses and corporations
				<br>
				<br>
					<li><%= link_to "Learn more", chatrooms_path, :class => 'button alt' %></li>
				</p>
			</section>
			<section  id="accounting">
				<span class="icon major fa-lock accent5"></span>
				<% if current_user %>
				<h3><%= link_to "Computing & IT", Chatroom.fourth %></h3>
				<% else %>
				<h3><%= link_to "Computing & IT", signup_path %></h3>
				<% end %>
				<p>
				Computer science is the study of the theory, experimentation, and engineering that form the basis for the design and use of computers.
				<br>
				<br>
					<li><%= link_to "Learn more", chatrooms_path, :class => 'button alt' %></li>
				</p>
			</section>
		</div>
	</section>

	<div class="row">
		<div class="6u 12u(narrower)">

			<section class="box special">
				<span class="image featured"><%= image_tag("pic02.jpg") %></span>
				<h3>Unipipe - Chatplatform</h3>
				<p>This is the best online university discussion forumn open to every anybody.</p>
				<ul class="actions">
					<li><%= link_to "Learn more", chatrooms_path, :class => 'button alt' %></li>
				</ul>
			</section>

		</div>
		<div class="6u 12u(narrower)">

			<section class="box special">
				<span class="image featured"><%= image_tag("pic03.jpg") %></span>
				<h3>Unipipe - Archive patform</h3>
				<p>Here you can achieve your research but rstricting the people who can assest them.</p>
				<ul class="actions">
					<li><%= link_to "Learn more", chatrooms_path, :class => 'button alt' %></li>
				</ul>
			</section>

		</div>
	</div>

</section>

<!-- CTA -->
<section id="cta">

	<h2>Sign up for free to get started</h2>
	<h3><b>Play,  Explore  &  Learn</b></h3>

	<form>
		<div class="row uniform 50%">
			<div class="8u 12u(mobilep)">
				<input type="email" name="email" id="email" placeholder="Email Address" />
			</div>
			<div class="4u 12u(mobilep)">
				<input type="submit" value="Sign Up" class="fit" />
			</div>
		</div>
	</form>

</section>
