<!DOCTYPE html>
<html>
  <head>
    <title>Unipipe</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', 'main', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'skel.min', 'jquery.min' 'util', 'jquery.scrollgress.min', 'jquery.dropotron.min', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" /> -->
  </head>

  <body class="landing">
   <!-- <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/turuthivic/unipipe" title="check me out on github">Fork me on GitHub</a> -->
  <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  <%= render partial: 'layouts/footer' %>
  </body>
</html>

